# for pycharms folder
.idea/

# for jupyter notebook checkpoints
*.ipynb_checkpoints

# for RStudio
.Rproj.user
*.Rproj
.RData
.RHistory

# for environment vars
*.env

# for data folder
data/

# for ongoing projects
Wellness_Tech_Company_Analysis_Case_Study/