# for pycharms folder
.idea/

# for jupyter notebook checkpoints
*.ipynb_checkpoints

# for RStudio
.Rproj.user
*.Rproj
.RData
.RHistory

# for environment vars
*.env

# for ongoing projects


# for data folder
data/