# for jupyter notebook checkpoints
*.ipynb_checkpoints

# for RStudio
.Rproj.user
*.Rproj
.RData
.RHistory

# for environment vars
*.env

# for ongoing projects
Linear_Regression_On_Employee_Attrition/

# for data folder
data/